<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">


	<http auto-config="true" use-expressions="false"> <!-- auto-config="true" use-expressions="true"> -->

		<intercept-url pattern="/sede/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/responsable/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/componente/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/cartilla/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/menu/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />

		<!-- access denied page -->
		<access-denied-handler error-page="/403" />

		<form-login login-page='/index' username-parameter="dni"
			login-processing-url="/login" password-parameter="contrasena"
			default-target-url="/login" authentication-failure-url="/error" />
		<logout logout-success-url="/salir" />
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
		</authentication-provider>
	</authentication-manager>

</beans:beans>