<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<context:component-scan
		base-package="ar.edu.unlp.ttps.ComedorUNLP_TTPS_2015.controller " />

	<mvc:annotation-driven />
	<!-- Especificamos la ubicación de los recursos JS, CSS, Images etc -->
	<mvc:resources mapping="/**" location="/" />


	<!-- Definicion de beans relacionados a la internacionalizacion -->
	<!-- ResourceBundleMessageSource , ReloadableResourceBundleMessageSource -->
	<!-- <property name="basename" value="WEB-INF/i18n/i18n" /> -->

	<!-- bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"> 
		<property name="defaultEncoding" value="UTF-8" /> <property name="basename" 
		value="webapp/WEB-INF/i18n/i18n" /> /bean bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"> 
		<property name="defaultLocale" value="es-419"/> /bean bean id="localeChangeInterceptor" 
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"> <property 
		name="paramName" value="lang" /> /bean <bean id="handlerMapping" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"> 
		<property name="interceptors"> <ref bean="localeChangeInterceptor" /> </property> 
		</bean> -->

	<!-- View Resolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>