<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">


	<http auto-config="true" use-expressions="false"> 

		<!-- Configuracion url - permiso de usuario -->
<!-- 		<intercept-url pattern="/" access="ROLE_ADMIN, ROLE_RESPONSABLE, ROLE_USUARIO" /> -->
		<intercept-url pattern="/login" access="ROLE_ADMIN, ROLE_RESPONSABLE, ROLE_USUARIO" />
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/cartilla/**" access="ROLE_ADMIN" />		
		<intercept-url pattern="/componente/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/responsable/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/menu/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/sede/listarAdmin" access="ROLE_ADMIN" />
		<intercept-url pattern="/sede/crear" access="ROLE_ADMIN" />
		<intercept-url pattern="/sede/editar" access="ROLE_ADMIN" />
		<intercept-url pattern="/sede/eliminar" access="ROLE_ADMIN" />
		<intercept-url pattern="/sugerencia/buzonVirtual" access="ROLE_ADMIN" />
		<intercept-url pattern="/pago/listadoSemanal" access="ROLE_RESPONSABLE" />
		<intercept-url pattern="/sede/usuariosHabilitados" access="ROLE_RESPONSABLE" />		
		<intercept-url pattern="/sugerencia/buzonVirtualDeSede" access="ROLE_RESPONSABLE" />
		<intercept-url pattern="/sede/listar" access="ROLE_USUARIO" />
		<intercept-url pattern="/sugerencia/comentar" access="ROLE_USUARIO" />		
		<intercept-url pattern="/compra/**" access="ROLE_USUARIO" />
		<intercept-url pattern="/user/**" access="ROLE_USUARIO" />

		<!-- Página de acceso denegado-->
		<access-denied-handler error-page="/403" />

		<!-- Configuración de página de login y parámetros, url que lo procesa, url de error, y url por defecto -->
<!-- 		<form-login login-page='/index' username-parameter="dni" -->
		<form-login login-page='/' username-parameter="dni"
			login-processing-url="/login" password-parameter="contrasena"
			default-target-url="/login" authentication-failure-url="/error" />
			
		<!-- Configuración de página de logout exitoso -->
		<logout logout-success-url="/salir" />
		
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
		</authentication-provider>
	</authentication-manager>

</beans:beans>